/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

/*-------------
 	Header
-------------*/

header{
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 20px 50px;
	background-color: rgba(0, 0, 0, 0.658);
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%;
}

div.img{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 0;
	margin-left: 0;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}


a.button {
	-webkit-appearance: button;
	  -moz-appearance: button;
	  appearance: button;
  
	  text-decoration: none;
	  color: initial;
	  background: #5f6d7e;
	  color: white;
	  text-transform: uppercase;
	  border: 2px;
	  padding: 5px;
	  border-radius: 2px;
	  margin-left: 5px;
  }

  h4{
	  font-family: robotoregular;
  }






